0 6 * * 1 cd /code/graphmaker && python3 cabinet_adapter.py >> /var/log/cron.log 2>&1
0 7 * * 1 cd /code/graphmaker && python3 graph.py >> /var/log/cron.log 2>&1
0 7 * * 1 cd /code/graphmaker && python3 interests_scrapper.py >> /var/log/cron.log 2>&1
