[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = {extras = ["default"], version = "*"}
requests = "*"
tqdm = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
ipykernel = "*"
cython = "*"
igraph = "*"

[dev-packages]
line-profiler = "*"

[requires]
python_version = "3.10"
